.rowheader {
  height: 10vh;
  color: rgba(255, 255, 255, 0.5);
}

main {
    color: rgba(255, 0, 0, 0.5);
}
 footer {
   height: 10vh;
 }
.container {


}

header{
  background: linear-gradient(to right, #ff5824, #ff9900)
}

.nav-link {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.nav-link disabled{
  color: rgb(0, 0, 0);
}
