#TeAyudo{
  color: rgb(239, 85, 29);
  font-weight: bold;
  font-size: 60px;
}
 .form-control{
   font-weight: 600;
 }

.Participar{
  background:url("../Imagenes fotos para slide/background_naranja5.png") no-repeat center;
  background-position: left top;
  z-index: 1;
}

 .formulario{
   background:url("../Imagenes fotos para slide/huesos.png") no-repeat center;
   background-position: right bottom;

 }

 .tiulosParticipar{
   color: rgb(239, 85, 29);
   font-weight: bold;

 }
