header{

  color: rgba(255, 255, 255, 0.5);
}
Main{


}
footer{
  }

  .contenedor{
      position: center;
      display: inline-block;

  }

  .texto-encima{
      position: absolute;
      top: 30%;


      font-size: 50px;
      color:rgb(255, 255, 255);
      font-family:'Montserrat', sans-serif;
      font-weight: 800;
      margin-left: 20px;
      margin-right: 100px;
      z-index: 2;
      padding: 1px;

  }
  .centrado{
      position: absolute;
      top: 50%;
      left: 5px;
      color:rgb(255, 255, 255);
      font-family:'Montserrat', sans-serif;
      font-weight: 400;
      margin-left: 20px;
}
body{
  background:url("../Imagenes fotos para slide/background_naranja3.png") no-repeat center;
  background-position: bottom;

}
.button{
  z-index: 2;
}
