header{

  color: rgba(255, 255, 255, 0.5);
}
Main{


}
footer{
  }

  .contenedor{
      position: center;
      display: inline-block;

  }

  .texto-encima{
      position: absolute;
      top: 10px;
      left: 1px;
      font-size: 50px;
      color:rgb(255, 255, 255);
      font-family:'Montserrat', sans-serif;
      font-weight: 800;
      margin-left: 20px;
      margin-right: 100px;

  }
  .centrado{
      position: absolute;
      top: 50%;
      left: 5px;
      color:rgb(255, 255, 255);
      font-family:'Montserrat', sans-serif;
      font-weight: 400;
      margin-left: 20px;
}
