<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="C:\Users\matias\Documents\MATHIAS\fronte\ProyectoGrupo5_WebAdopcion\CSS\potreroDigital_proyecto_grupo5_adopta.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="..\CSS\potreroDigital_proyecto_grupo5_adopta.css">
    <link rel="stylesheet" href="..\CSS\potreroDigital_proyecto_grupo5_lacasa.css">
    <link href = "https://fonts.googleapis.com/css2? family = Montserrat: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400 ; 1,500; 1,600; 1,700; 1,800; 1,900 & display = swap "rel =" stylesheet ">
    <link  rel="icon"   href="..\Logo\Favicon.png" type="image/png" />

    <title>Adopta</title>
  </head>
  <body>

  <div class="container-fluid">
    <header class="header row">
      <div class="logo col-md-3 col-sm-2">
      <a href="..\Layouts\potreroDigital_proyecto_grupo5_index.html"><img src="..\Logo\Logo La casa remap.png" alt="LaCasa"></a>
      </div>
      <nav class="menú col-md-9 col-sm-10">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="..\Layouts\potreroDigital_proyecto_grupo5_adoptar.html">ADOPTAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="..\Layouts\potreroDigital_proyecto_grupo5_ayudar.html">AYUDAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="..\Layouts\potreroDigital_proyecto_grupo5_participar.html">PARTICIPAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="..\Layouts\potreroDigital_proyecto_grupo5_donar.html">DONAR</a>
          </li>
        </ul>
      </nav>


    </header>

    <main class="row">
      <div class="separacion row">
          </div>
    <div class="presentacion row">
      <div class="separacion2 col-2">

      </div>

      <div class="presentacion col-lg-4 col-md-5 col-sm-7">
      <h1 id="tituloPresentacion">¡Encontrá la mascota ideal!</h1>
      <p id="parrafoPresentacion">¡Respondé nuestro nuevo cuestionario
interactivo para encontrar a tu mascota ideal!</p>
<button type="button" class="btn btn-outline-light">Iniciar</button>
      </div>

<section>
  <div class="separacion4 row"></div>
  <div class="row justify-content-center">
    <div class="">
<h2>Adopta amor...</h2></div>
      <div class="col-2 d-flex align-items-top">
        <img src="../Imagenes fotos para slide/iconoApoyar.png" alt="">

      </div>


  </div>
<div class="row justify-content-center">
  <div class="card_1 col-3">
    <div class="card" style=";">
  <img src="..\Imagenes fotos para slide\Luli adoptar.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Luli</h5>
    <h6>Hembra - Adulta</h6>
    <h6>Mascota N°: 001</h6>
    <a href="..\Layouts\potreroDigital_proyecto_grupo5_formulario.html" class="btn btn-primary">ADOPTAR</a>
  </div>
</div>
</div>
<div class="card_2 col-3">
  <div class="card" style=";">
<img src="C:\Users\matias\Documents\MATHIAS\fronte\ProyectoGrupo5_WebAdopcion\Imagenes fotos para slide\Rebeca adoptar.png"class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Rebeca</h5>
  <h6>Hembra - Adulta</h6>
  <h6>Mascota N°: 002</h6>
  <a href="#" class="btn btn-primary">ADOPTAR</a>
</div>
</div>
</div>
<div class="card_3 col-3">
  <div class="card" style=";">
<img src="C:\Users\matias\Documents\MATHIAS\fronte\ProyectoGrupo5_WebAdopcion\Imagenes fotos para slide\Coco adoptar.png"class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Coco</h5>
  <h6>Macho - Cachorro</h6>
  <h6>Mascota N°: 003</h6>
  <a href="#" class="btn btn-primary">ADOPTAR</a>
</div>
</div>
</div>
</div>
<div class="separacion row"></div>
<div class="row justify-content-center">
<div class="card_1 col-3">
  <div class="card" style=";">
<img src="C:\Users\matias\Documents\MATHIAS\fronte\ProyectoGrupo5_WebAdopcion\Imagenes fotos para slide\Pampa adoptar.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Pampa</h5>
  <h6>Macho - Cachorro</h6>
  <h6>Mascota N°: 004</h6>
  <a href="#" class="btn btn-primary">ADOPTAR</a>
</div>
</div>
</div>
<div class="card_2 col-3">
<div class="card" style=";">
<img src="C:\Users\matias\Documents\MATHIAS\fronte\ProyectoGrupo5_WebAdopcion\Imagenes fotos para slide\Rita adoptar.png"class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Rita</h5>
<h6>Hembra - Adulta</h6>
<h6>Mascota N°: 005</h6>
<a href="#" class="btn btn-primary">ADOPTAR</a>
</div>
</div>
</div>
<div class="card_3 col-3">
<div class="card" style=";">
<img src="C:\Users\matias\Documents\MATHIAS\fronte\ProyectoGrupo5_WebAdopcion\Imagenes fotos para slide\Tincho adoptar.png"class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Tincho</h5>
<h6>Macho - Cachorro</h6>
<h6>Mascota N°: 006</h6>


<a href="#" class="btn btn-primary">ADOPTAR</a>
</div>
</div>
</div>
</div>
<div class="separacion5 row"></div>
<div class="row col-10 justify-content-end">
  <button type="button" class="btn btn-light">Siguiente</button>

</div>

<div class="separacion5 row"></div>






</section>
    </main>
    <footer>
      <div class="footer row justify-content-center">
        <div class="separacion2 col-md-1">

        </div>
        <div class="isologo col-md-2 col-sm-6">
        <img src="..\Logo\isologo.png" alt="isologo"></a>
        </div>
        <div class="Dirección col-md-4 col-sm-6">
        <h6 id="direccion">Loteo Montilla, Rawson, San Juan.
      </h6>
       <h6 id="direccion">Teléfonos (264) 424 3536 / 3537</h6>
        </div>
        <div class="redes sociales col-md-3 col-sm-12">
          <a href="https://www.facebook.com"target="_blank"><img src="..\Imagenes fotos para slide\facebook.png" alt="facebook"></a>
          <a href="https://www.instagram.com"target="_blank"><img src="..\Imagenes fotos para slide\instagram.png" alt="instagram"></a>
          <a href="https://www.youtube.com"target="_blank"><img src="..\Imagenes fotos para slide\youtube.png" alt="youtube"></a>
          <a href="https://twitter.com/"target="_blank"><img src="..\Imagenes fotos para slide\twitter.png" alt="twitter"></a>
        </div>
      </div>


    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>



    </div>
  </body>
</html>
